# LOCAL DEVELOPMENT ENVIRONMENT VARIABLES
NODE_ENV=development
# A Random Password to secure your APIs
API_SECRET_KEY=
# SUPABASE - DATABASE
NEXT_PUBLIC_SUPABASE_PROJECT_ID=rijgssykfsgugwzkvpfk
NEXT_PUBLIC_SUPABASE_URL=https://rijgssykfsgugwzkvpfk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJpamdzc3lrZnNndWd3emt2cGZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3NTcxMTIsImV4cCI6MjA5NzMzMzExMn0.C_IuNU7uhUCmuHC6IIL7gjfG6ZJ8l-RcCC6uRzi9dMA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJpamdzc3lrZnNndWd3emt2cGZrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTc1NzExMiwiZXhwIjoyMDk3MzMzMTEyfQ.yFMYnAwD_IxZMYy9a36SauDdnjrhizXPvVoFGlsOC0E
# STRIPE - PAYMENT
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Cloudflare R2
R2_ACCOUNT_ID=your-cloudflare-account-i
R2_ACCESS_KEY_ID=your-r2-access-key-id
R2_SECRET_ACCESS_KEY=your-r2-secret-access-key
R2_BUCKET_NAME=your-bucket-name
NEXT_PUBLIC_R2_PUBLIC_URL=https://your-public-r2-url.com
# UMAMI - ANALYTICS
NEXT_PUBLIC_UMAMI_ID=
# OPENAI - AI CONTENT API
OPENAI_API_KEY=
# BEEHIIV - EMBEDS
NEXT_PUBLIC_BEEHIIV_EMBED_URL=
# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=