# LOCAL DEVELOPMENT ENVIRONMENT VARIABLES
NODE_ENV=development
# A Random Password to secure your APIs
API_SECRET_KEY=
# POSTGRES - PRISMA
DATABASE_URL=
DIRECT_URL=
# SUPABASE - DATABASE
NEXT_PUBLIC_SUPABASE_PROJECT_ID=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
# STRIPE - PAYMENT
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Cloudflare R2
R2_ACCOUNT_ID=your-cloudflare-account-i
R2_ACCESS_KEY_ID=your-r2-access-key-id
R2_SECRET_ACCESS_KEY=your-r2-secret-access-key
R2_BUCKET_NAME=your-bucket-name
NEXT_PUBLIC_R2_PUBLIC_URL=https://your-public-r2-url.com
# UMAMI - ANALYTICS
NEXT_PUBLIC_UMAMI_ID=
# OPENAI - AI CONTENT API
OPENAI_API_KEY=
# BEEHIIV - EMBEDS
NEXT_PUBLIC_BEEHIIV_EMBED_URL=
# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=